.containerAvaliacao{
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    background-color: white;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notaMediaAvaliacao{
    width: 80px;
    height: 80px;
}

.containerInstrucaoAvaliacao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(202, 197, 197);
    border-radius: 8px;;
}

.avaliacaoSection{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.principal{
    width: 98%;
}

@media(min-width:768px) {

    .principal{
         max-width: 500px;
         min-width: 500px;
    }
 
    .cabecalho, .containerInstrucaoAvaliacao, .containerCabecalho, .avaliacao{
        width:100%;
        font-size: 16px;
    }

  
 }

@media(min-width:1024px) {

   .principal{
        min-width: 800px;
        max-width: 800px;
   }

   .cabecalho, .containerInstrucaoAvaliacao, .containerCabecalho, .avaliacao{
        width:100%;
        font-size: 20px;
    }
}

