
.itemJogo{
    width: 12rem;
    border-radius: 10px;
}


.itemJogo:hover{
    transform: scale(1.04);
    transition: .8s;
    color: red;
}

@media(max-width:425px) {

    .itemJogo{
        width: 16rem; 
    }

}