
    .itemJogo{
        width: 16rem; 
        border-radius: 10px;
        color:indigo;
    }

.itemJogo:hover{
    transform: scale(1.04);
    transition: .8s;
    color: rgb(14, 100, 3);

}

.itemJogo:hover button{
    
    background-color: rgb(14, 100, 3);
    color: white;
}

@media(min-width:768px) {

    .itemJogo{
        width: 12rem;    
    }
    

}