.headerDetalhe{
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.containerDetalhe{
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    background-color: #E5E5E5;
}

.sectionPlataformas{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.secaoNotaMediaEAdicionarNota{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.containerInternoSecaoNotaMediaEAdicionarNota{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.fichaTecnica{
    max-width: 425px;
}

.fichaTecnica li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}

.fichaTecnica h3 {
    font-weight: 600;
}
  
