
.sessaoJogo{
    padding:0;
    margin:0;
}

.containerHome{
    background-color: white;
}

.lista-group{
    display: flex;
    list-style: none;
    padding:0;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}

.apresentacao{
    display: none;
}


@media(min-width:768px) {

    .lista-group{
        flex-direction: row; 
    }

    .container{
        align-items: flex-start;
        justify-content: flex-start;
    }

    .apresentacao{
        display: block;  
    }

    .containerApresentacao{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
       
    }
    .apresentacaoTexto p{
       color: #BF704D;
    }
  
}
