
.sessaoJogo{
    padding:0;
    margin:0;
}

.lista-group{
    display: flex;
    padding:0;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}


@media(min-width:768px) {

    .lista-group{
        flex-direction: row; 
    }

    .container{
        align-items: flex-start;
        justify-content: flex-start;
    }
  
}
